<div id="sidebar">
    <div style="height :1400px;" class="side-menu-container">
        <ul class="metismenu" id="side-menu">
            <li>
                <a asp-page="/Index">
                    <i class="icon-home"></i>
                    <span>داشبرد</span>
                </a>
            </li>
            <li>
                <a asp-page="/Devices/Index">
                    <i class="icon-screen-smartphone"></i>
                    <span>دستگاه ها</span>
                </a>
            </li>
            <li>
                <a asp-page="/Users/Index">
                    <i class="icon-user"></i>
                    <span>کاربران</span>
                </a>
            </li>
            <li>
                <a asp-page="/Events/Index">
                    <i class="icon-login"></i>
                    <span>تردد ها</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-printer"></i>
                    <span>گزارش گیری</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-settings"></i>
                    <span>تنظیمات</span>
                </a>
            </li>

        </ul><!-- /#side-menu -->
    </div><!-- /.side-menu-container -->
</div><!-- /#sidebar -->