@page
@model IndexModel
@{
    ViewData["Title"] = "داشبرد اکسس کنترل";
}


<div class="portlet-body">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-graph"></i>
                        خلاصه گزارش
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" href="#">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-close" rel="tooltip" href="#">
                        <i class="icon-trash"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="stat-box bg-cyan shadow">
                        <a asp-page="./Users/Index">
                            <div class="stat">
                                <div class="counter-down">@Model.UserCount</div>
                                <div class="h3">کاربران</div>
                            </div><!-- /.stat -->
                            <div class="visual">
                                <i class="icon-user"></i>
                            </div><!-- /.visual -->
                        </a>
                    </div><!-- /.stat-box -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-6">
                    <div class="stat-box bg-blue shadow">
                        <a asp-page="./Device/Index">
                            <div class="stat">
                                <div class="counter-down">@Model.ActiveDeviceCount</div>
                                <div class="h3">دستگاه های فعال</div>
                            </div><!-- /.stat -->
                            <div class="visual">
                                <i class="icon-printer"></i>
                            </div><!-- /.visual -->
                        </a>
                    </div><!-- /.stat-box -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-6">
                    <div class="stat-box bg-orange shadow">
                        <a asp-page="./Event/Index">
                            <div class="stat">
                                <div class="counter-down">@Model.EventCount</div>
                                <div class="h3">تردد های امروز</div>
                            </div><!-- /.stat -->
                            <div class="visual">
                                <i class="icon-docs"></i>
                            </div><!-- /.visual -->
                        </a>
                    </div><!-- /.stat-box -->
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-3 col-6">
                    <div class="stat-box bg-red shadow">
                        <a asp-page="./Device/Index">
                            <div class="stat">
                                <div class="counter-down">@Model.DeActiveDeviceCount</div>
                                <div class="h3">دستگاه های غیرفعال</div>
                            </div><!-- /.stat -->
                            <div class="visual">
                                <i class="icon-tag"></i>
                            </div><!-- /.visual -->
                        </a>
                    </div><!-- /.stat-box -->
                </div><!-- /.col-lg-3 -->
            </div>
        </div><!-- /.portlet -->
    </div>
</div><!-- /.portlet-body -->


<div class="portlet-body">
    <div class="col-lg-12">
        <div class="portlet box border shadow">
            <div class="portlet-heading">
                <div class="portlet-title">
                    <h3 class="title">
                        <i class="icon-graph"></i>
                        گزارش ترددها
                    </h3>
                </div><!-- /.portlet-title -->
                <div class="buttons-box">
                    <a class="btn btn-sm btn-default btn-round btn-fullscreen" rel="tooltip" href="#">
                        <i class="icon-size-fullscreen"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                    <a class="btn btn-sm btn-default btn-round btn-close" rel="tooltip" href="#">
                        <i class="icon-trash"></i>
                        <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div><!-- /.buttons-box -->
            </div><!-- /.portlet-heading -->
            <div class="portlet-body">
                <iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                <canvas id="line" class="min-height-400"></canvas>
            </div><!-- /.portlet-body -->
        </div><!-- /.portlet -->
    </div>
</div><!-- /.portlet-body -->

@section masterjs
{
    <script>
        Chart.defaults.global.defaultFontFamily = "IranSans";
        var randomScalingFactor = function() {
            return Math.round(Math.floor(Math.random() * 6000)*1000)+15000000;
        };
        var config2 = {
            type: "line",
            data: {
                labels: ["فروردین", "اردی بهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن", "اسفند"],
                datasets: [{
                    backgroundColor: "rgba(20,185,214,0.7)",
                    borderColor: "rgb(20,185,214)",
                    borderWidth: 2,
                    label: "ترددهای ماهانه", 
                    data: [100, 200,100, 85, 200, 380, 200, 105, 700 ,230,450,600]
                }]
            },
            options: {
                maintainAspectRatio: false,
                responsive: true,
                title:{
                    display:true
                },
                hover: {
                    mode: "nearest",
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: "ماه"
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: ""
                        },
                        ticks: {
                            suggestedMin: 8000000
                        },
                    }]
                }
            }
        };
        window.onload = function() {
            var ctx = document.getElementById("line").getContext("2d");
            window.line1 = new Chart(ctx, config2);
        };
    </script>
}
